@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@layer reset, global, module;

@layer reset {
    *,
    *::before,
    *::after{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

@layer global {
    :root {
        --slate-900: #1F314F;
        --slate-500: #68778D;
        --slate-300: #D5E1EF;
        --white: #FFFFFF;
        --spacing-500: 2.66rem;
        --spacing-300: 1.6rem;
        --spacing-200: 1.066rem;
        font-size: 15px;
    }

}

@layer module {

    .text {
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .text-preset-1 {
        font-weight: 700;
        font-size: 1.466rem;
        line-height: 120%;
        letter-spacing: 0;
    }

    .text-preset-2 {
        font-weight: 400;
        font-size: 1rem;
        line-height: 140%;
        letter-spacing: 0.0133rem;
    }

    img {
        width: 100%;
        border-radius: 0.666rem;
    }

    .container {
        background-color: var(--slate-300);
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .card {
        padding: var(--spacing-200);
        padding-bottom: var(--spacing-500);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-300);
        text-align: center;
        background-color: var(--white);
        border-radius: 1.333rem;
        margin-inline: 1.833rem;
        max-inline-size: 21.4rem;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        padding-inline: var(--spacing-200);
        gap: var(--spacing-200);
    }

    .card-body > h1 {
        color: var(--slate-900);
    }

    .card-body > p {
        color: var(--slate-500);
    }
}